src/main/resources/soap/wsdl/cdc-iis.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:iis="urn:cdc:iisb:2014" xmlns="http://schemas.xmlsoap.org/wsdl/" name="IISService" targetNamespace="urn:cdc:iisb:2014">
    <wsdl:documentation>CDC Immunization Information Systems (IIS) SOAP web service.</wsdl:documentation>
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:iis="urn:cdc:iisb:2014" xmlns="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="urn:cdc:iisb:2014" schemaLocation="/dev/IISService?xsd=/cdc-iis.xsd"/>
        </xsd:schema>
    </types>
    <message name="SubmitSingleMessageRequestMessage">
        <wsdl:documentation>Submit single message request message.</wsdl:documentation>
        <part element="iis:SubmitSingleMessageRequest" name="requestParameters">
    </part>
    </message>
    <message name="UnsupportedOperationFaultMessage">
        <part element="iis:UnsupportedOperationFault" name="fault">
    </part>
    </message>
    <message name="MessageTooLargeFaultMessage">
        <part element="iis:MessageTooLargeFault" name="fault">
    </part>
    </message>
    <message name="SecurityFaultMessage">
        <part element="iis:SecurityFault" name="fault">
    </part>
    </message>
    <message name="ConnectivityTestRequestMessage">
        <wsdl:documentation>Connectivity test request message.</wsdl:documentation>
        <part element="iis:ConnectivityTestRequest" name="requestParameters">
    </part>
    </message>
    <message name="SubmitSingleMessageResponseMessage">
        <wsdl:documentation>Submit single message response message.</wsdl:documentation>
        <part element="iis:SubmitSingleMessageResponse" name="responseParameters">
    </part>
    </message>
    <message name="ConnectivityTestResponseMessage">
        <wsdl:documentation>Connectivity test response message.</wsdl:documentation>
        <part element="iis:ConnectivityTestResponse" name="responseParameters">
    </part>
    </message>
    <portType name="IISPortType">
        <operation name="ConnectivityTest">
            <wsdl:documentation>Connectivity test operation.</wsdl:documentation>
            <input message="iis:ConnectivityTestRequestMessage" name="ConnectivityTestRequest" wsaw:Action="urn:cdc:iisb:2014:IISPortType:ConnectivityTestRequest">
    </input>
            <output message="iis:ConnectivityTestResponseMessage" name="ConnectivityTestResponse" wsaw:Action="urn:cdc:iisb:2014:IISPortType:ConnectivityTestResponse">
    </output>
            <fault message="iis:UnsupportedOperationFaultMessage" name="UnsupportedOperationFault" wsaw:Action="urn:cdc:iisb:2014:IISPortType:ConnectivityTest:Fault:UnsupportedOperationFault">
    </fault>
        </operation>
        <operation name="SubmitSingleMessage">
            <wsdl:documentation>Submit single message operation.</wsdl:documentation>
            <input message="iis:SubmitSingleMessageRequestMessage" name="SubmitSingleMessageRequest" wsaw:Action="urn:cdc:iisb:2014:IISPortType:SubmitSingleMessageRequest">
    </input>
            <output message="iis:SubmitSingleMessageResponseMessage" name="SubmitSingleMessageResponse" wsaw:Action="urn:cdc:iisb:2014:IISPortType:SubmitSingleMessageResponse">
    </output>
            <fault message="iis:MessageTooLargeFaultMessage" name="MessageTooLargeFault" wsaw:Action="urn:cdc:iisb:2014:IISPortType:SubmitSingleMessage:Fault:MessageTooLargeFault">
    </fault>
            <fault message="iis:SecurityFaultMessage" name="SecurityFault" wsaw:Action="urn:cdc:iisb:2014:IISPortType:SubmitSingleMessage:Fault:SecurityFault">
    </fault>
        </operation>
    </portType>
    <binding name="IISBindingSoap12" type="iis:IISPortType">
        <wsp:Policy>
            <wsam:Addressing>
                <wsp:Policy/>
            </wsam:Addressing>
        </wsp:Policy>
        <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        <operation name="ConnectivityTest">
            <soap12:operation soapAction="urn:cdc:iisb:2014:IISPortType:ConnectivityTestRequest" style="document"/>
            <input>
                <soap12:body parts="requestParameters" use="literal"/>
            </input>
            <output>
                <soap12:body parts="responseParameters" use="literal"/>
            </output>
            <fault name="UnsupportedOperationFault">
                <soap12:fault name="UnsupportedOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="SubmitSingleMessage">
            <soap12:operation soapAction="urn:cdc:iisb:2014:IISPortType:SubmitSingleMessageRequest" style="document"/>
            <input>
                <soap12:body parts="requestParameters" use="literal"/>
            </input>
            <output>
                <soap12:body parts="responseParameters" use="literal"/>
            </output>
            <fault name="MessageTooLargeFault">
                <soap12:fault name="MessageTooLargeFault" use="literal"/>
            </fault>
            <fault name="SecurityFault">
                <soap12:fault name="SecurityFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="IISService">
        <port binding="iis:IISBindingSoap12" name="IISPortSoap12">
            <wsp:Policy>
                <wsam:Addressing>
                    <wsp:Policy/>
                </wsam:Addressing>
            </wsp:Policy>
            <soap12:address location="https://dev.phiz-project.org/dev/IISService"/>
        </port>
    </service>
</definitions>